*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

.flex-center{
   display: flex;
   justify-content: center;
   align-items: center;
}

/* ----- HEADER ----- */

.utente{
   background-image: url(../img/***);
   background-repeat: no-repeat;
   background-position: center;
 }

body {
   background-color: black;
   color: white;
}

header{
   position: fixed;
   height: 50px;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 9999;
}

.container-head{
   display: inline;
   position: absolute;
   top: 7px;
   right: 5px;
}

a{
   color: white;
   text-decoration: none;
}

.container-head a{
   background-color: #4A4A4A;
   border-radius: 5px;
   padding: 5px;
}

/* ----- MAIN ----- */

.viewport {
   max-width: 95%;
   height: 75vh;
   margin: 50px auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

.utente{
   background-image: url("https://picsum.photos/200/300");
   background-size: cover;
   background-repeat: no-repeat;
   min-width: 249px;
   height: 120px;
   position: relative;
   margin: 10px 5px;
   overflow-y: scroll;
   display: inline-block;
}

.utente img{
   height: 100%;
}

.layover{
   background-color: rgba(0,0,0,0.3);
   padding: 5px;
}

.nome{
   position: absolute;
   bottom: 0;
   left: 0;
}

.utente i{
   color: red;
}

footer{
   background-color: #222222;
   position: fixed;
   height: 60px;
   width: 100%;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.sinistra{
   position: relative;
   /* line-height: 60px; */
}

.coppia{
   text-align: center;
   display: inline-block;
   margin: 0 5px 0 5px;
}

.coppia i{
   font-size: 25px;
   display: block;
}

.coppia span{
   font-size: 12px;
}

.fa-angle-up{
   font-size: 10px;
   position: absolute;
   top: 16px;
}

.prova{
   display: inline-block;
}

.centro{
   position: relative;
}

.fa-share-from-square{
   color: #49C304;
}

.destra{
   background-color: #4A4A4A;
   height: 100%;
   line-height: 40px;
   padding: 10px;
}

.destra a{
   background-color: red;
   border-radius: 10px;
   padding: 10px;
 }
